*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
   font-family:  'Gill Sans';
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 12%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo{
    height: 70%;
    
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texts{
    color: rgba(8, 12, 252, 0.918);
    display: flex;
}


.texts:hover{
    color: aqua;
}

.contactdetail{
    font-weight: lighter;
}

.icon{
   padding: 10px;
   border-radius: 50%;
}

.icon:hover{
    background-color: lightblue;
}

#login{
    display: flex;
    padding: 10px;
    border-radius: 50%;
}

#login:hover{
    background-color: lightblue;
}

#try{
    background-color: rgb(34, 207, 34);
    padding: 10px 20px;
    color: white;
}
#try:hover{
    background-color: lightgreen;
}


#fakeheader{
    height: 12%;
    width: 100%;
}

#page1{
    height: 88%;
    width: 100%;
    background-color:white;
}

#strip{
    width: 100%;
    height: 10%;
    background-color: rgb(3, 3, 194);
    color: wheat;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#strip u{
    font-weight: lighter;
    margin: 50px;
}

#content{
    height: 76%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#box1{
    height: 90%;
    width: 47%;
    background-color:white;
}

#box2{
    height: 90%;
    width: 47%;
    background-color:white;
}

#box2 img{
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin-left: 150px;
    border-radius: 5%;
}

#heading{
    height: 16%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
   
}

#heading h1{
    font-weight: 10px;
}

#box1 h1{
   font-weight: 600px;
   color: rgb(2, 2, 153);
   font-size: 50px;
   margin: 10px;
}

#box1 p{
    font-size: x-large;
    margin: 10px;
    font-weight: lighter;
}
#btns{
    display: flex;
}

#btn1{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
}

#btn1:hover{
    background-color: rgb(5, 5, 216);
}

#btn2{
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: rgb(26, 161, 252);
    border: 1px solid rgb(8, 161, 221);
    border-radius: 5px;
}

#btn2:hover{
    background-color: lightblue
}
#page2{
    height: 88%;
    width: 100%;
    background-color: white;
}

.card{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid salmon;
    overflow: hidden;
}

#card1{
    margin-left: 50px;
    margin-top: 40px;
    z-index: 4;
    background-color: white;

}
#card1 img{
   height: 200px;
   width: 250px;
   object-fit: cover;
   margin-bottom: 70px;
}
#pgl h3{
    margin-bottom: 200px;
    margin-right: 140px;
    
}
 

#card2{
    margin-left: 700px;
    margin-top: 40px;
    background-color: white;
}
#card2 img{
   height: 200px;
   width: 250px;
   object-fit: cover;
}
#rohit h3{
    margin-bottom: 290px;
    margin-right: 140px;
    
}

#card3{
    margin-left: 1040px;
    margin-top: 40px;
 
    background-color:white;
}
#card3 img{
   height: 200px;
   width: 250px;
   object-fit: cover;
}

#card4{
    margin-left: 375px;
    margin-top: 40px;
    background-color: white;
}
#card4 img{
   height: 200px;
   width: 250px;
   object-fit: cover;
}


#rect{
    height: 200%;
    width: 200%;
    background-color: blueviolet;
}